build --cxxopt='-std=c++14' --host_cxxopt='-std=c++14'
build --java_language_version=11
build --java_runtime_version=remotejdk_11

# Silence all C/C++ warnings in external code.
#
# Note that this will not silence warnings from external headers included
# in project code.
build --per_file_copt=external/.*@-w
build --host_per_file_copt=external/.*@-w

# Needed by https://github.com/bazelbuild/rules_android?tab=readme-ov-file#android-support-in-bazel.
common --experimental_enable_android_migration_apis
common --experimental_google_legacy_api
common --android_databinding_use_v3_4_args
common --experimental_android_databinding_v2
